@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --white: #ffffff;
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--white);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "hero"
    "info"
    "download"
    "install"
    "faqs"
    "contact"
    "footer-container";
}
header {
  grid-area: header;
}
.header__list__items {
  list-style: none;
}
/* .header__list__items--btn{
  
} */
.hero {
  grid-area: hero;
}
.info {
  grid-area: info;
}
.download {
  grid-area: download;
}
.install {
  grid-area: install;
}
.faqs {
  grid-area: faqs;
}
.contact {
  grid-area: contact;
}
.footer-container {
  grid-area: footer-container;
}
@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: minmax(200px, auto);
    grid-gap: 10px;
    grid-template-areas:
      "header header header"
      " hero hero hero"
      " inf info info"
      "download download download"
      "install install install"
      "faqs faqs faqs"
      "contact contact contact"
      "footer-container footer-container footer-container";
  }
  header {
    grid-area: header;
    width: 100%;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  /* .header__logo{
    margin-left: auto; 
  } */

  .header__list {
    display: flex;
  }
  .header__list__items {
    list-style: none;
    margin: 15px;
  }
  .header__list__items--btn {
    background-color: var(--soft-red);
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    list-style: none;
  }

  .hero__container {
    display: flex;
    justify-content: space-between;
  }
  .hero__content {
    width: 500px;
    margin-left: 50px;
  }
  .hero__heading {
    font-size: 48px;
    color: #252b46;
  }
  .hero__text {
    color: #9194a1;
    font-size: 18px;
  }
}
